<template>
  <div class="cart-list">
    <!-- rename computed property -->
    <div v-for="item in spisok_dlya_rendera">
      <!-- add more markup for more user-friendly displayment of a content -->
      {{ item }}
    </div>
  </div>
</template>

<script>
export default {
  // we don't nedd props, as we get cart from state
  props: {
    cart: Array,
  },
  computed: {
    // rename this function in right notation and make name more informative
    spisok_dlya_rendera() {
      return this.cart.reverse();
    },
  },
};
</script>

<style>
/* add styles for better cart appearence */
</style>
