<!-- in SFC Syntax Specification as example we  see template, script, style, -->
<!-- so I think it's better to order like in example. -->
<!-- but it doesn't influence on work of your app -->
<!-- Also, you need to extract Header component to Layouts folder in components-->
<!-- folder for better project structure -->
<script>
export default {
  name: 'Header',

  props: {
    // If you want to validate props you should do it like this:
    /*
      cart: {
        type: Array,
        required: true,
        default: {}
      },
    */
    //  But we dont need cart prop, because we will get cart price directly from store
    cart: Array,
    required: true,
    default: {},

    currency: String,
  },
  // We dont need data, because we will get cart price from store
  data() {
    return {
      cartPrice: 0,
    };
  },
  // We dont need watch, because we will get cart price from store
  watch: {
    cart(cart) {
      let val = 0;
      cart.forEach((item) => {
        val += item.price * item.amount;
      });
      this.cartPrice = val;
    },
  },
};
</script>

<style scoped>
.header {
  padding: 10px;
  background: #e5e5e5;
}
</style>

<template>
  <div class="header">
    <h3>Товаров в корзине на: {{ cartPrice }} {{ currency }}</h3>
  </div>
</template>
