<template>
  <div class="product-list">
    <!-- We need key attribute to for iteration for correct work of Vue-->
    <!-- Also to make this component smaller and code cleaner its better to grab this div in separate component -->
    <div
      class="card"
      v-for="product in products"
      :style="{ width: cardsWidth + '%' }"
    >
      <p class="card-title">{{ product.title }}</p>
      <!-- dont forget alt attribute for image in case if image didn't load and seo -->
      <img class="card-image" :src="product.image" alt="" />
      <p class="card-price">Цена: {{ product.price }} {{ currency }}</p>

      <div>
        <input type="number" ref="amount" :id="product.id" />
        <span>кг</span>
      </div>

      <button @click="addToCart(product)">В корзину</button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    currency: String,
  },
  //We dont need data property as we will get products from store
  data() {
    return {
      products: [],
    };
  },

  computed: {
    // It's better to use media queries for adaptive instead of computed property
    cardsWidth() {
      let width = window.innerWidth;
      let count = 1;
      if (width > '840px') {
        count = 3;
      } else if (width > '420px' && width < '840px') {
        count = 2;
      }

      return 100 / count;
    },
  },
  methods: {
    startPricesMonitoring() {
      setInterval(this.getList, 1000);
    },
    //it's better to add this logic to store to actions
    async getList() {
      let data = await this.$store.dispatch('getProductsList');

      this.products = data;
    },
    //it's better to grab this code to base card component to split logic
    addToCart(product) {
      let amount = this.$refs.amount.find(
        (input) => input.id === product.id,
      ).value;

      let data = {
        amount,
        price: product.price,
        title: product.title,
      };
      this.$parent.cart.push(data);
    },
  },
  // we need also add beforeDestroy lifecycle hook to clear interval to prevent memory leaks
  created() {
    this.startPricesMonitoring();
  },
};
</script>

<style>
.product-list {
  padding: 10px;
}

.card {
  display: inline-block;
  width: 100%;
  border: 1px solid #908888;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
.card-image {
  width: 100%;
}
button {
  padding: 5px;
  margin: 5px;
}
</style>
